[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
ipython = "*"
flake8 = "*"
pytest = "*"
shiv = "*"

[packages]
prompt-toolkit = "*"
cryptography = "*"
websockets = "*"
docopt = "*"
terminaltables = "*"
termcolor = "*"
requests = "*"
quart = "==0.9.1"
hypercorn = "==0.6.0"
dnslib = "*"
defusedxml = "*"
netifaces = "*"
aiosqlite = "*"
pypykatz = "*"
donut-shellcode = "*"

[requires]
python_version = "3.7"
