[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
pytest = "*"
shiv = "*"

[packages]
prompt-toolkit = ">=3.0"
cryptography = "*"
websockets = "*"
docopt = "*"
terminaltables = "*"
termcolor = "*"
requests = "*"
quart = "==0.10.0"
hypercorn = "==0.9.0"
defusedxml = "*"
netifaces = "*"
aiosqlite = "*"
pypykatz = "*"
donut-shellcode = "*"
