-i https://pypi.org/simple
aiofiles==0.4.0
asn1crypto==0.24.0
blinker==1.4
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
click==7.0
cryptography==2.7
defusedxml==0.6.0
dnslib==0.9.10
docopt==0.6.2
h11==0.9.0
h2==3.1.1
hpack==3.0.0
hypercorn==0.6.0
hyperframe==5.2.0
idna==2.8
itsdangerous==1.1.0
jinja2==2.10.1
markupsafe==1.1.1
multidict==4.5.2
netifaces==0.10.9
prompt-toolkit==2.0.9
pycparser==2.19
pytoml==0.1.21
quart==0.9.1
requests==2.22.0
six==1.12.0
sortedcontainers==2.1.0
termcolor==1.1.0
terminaltables==3.1.0
typing-extensions==3.7.4
urllib3==1.25.3
wcwidth==0.1.7
websockets==8.0.2
wsproto==0.14.1
