-i https://pypi.org/simple/
aiofiles==0.6.0
aiosqlite==0.11.0
aiowinreg==0.0.4
asn1crypto==1.4.0
asysocks==0.1.1
blinker==1.4
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
click==7.1.2
cryptography==2.8
defusedxml==0.6.0
docopt==0.6.2
donut-shellcode==0.9.2
h11==0.12.0
h2==4.0.0
hpack==4.0.0
hypercorn==0.9.0
hyperframe==6.0.1
idna==2.8
itsdangerous==1.1.0
jinja2==2.11.3
markupsafe==1.1.1
minidump==0.0.17
minikerberos==0.2.11
msldap==0.3.29
multidict==5.1.0
netifaces==0.10.9
priority==1.3.0
prompt-toolkit==3.0.2
pycparser==2.20
pypykatz==0.3.3
quart==0.10.0
requests==2.22.0
six==1.15.0
sortedcontainers==2.3.0
termcolor==1.1.0
terminaltables==3.1.0
toml==0.10.2
tqdm==4.60.0
typing-extensions==3.7.4.3
urllib3==1.25.11
wcwidth==0.2.5
websockets==8.1
winacl==0.1.1
winsspi==0.0.9
wsproto==1.0.0
