[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "*"

[packages]
netifaces = "*"
quart = "*"
docopt = "*"
termcolor = "*"
terminaltables = "*"
prompt-toolkit = ">=2"
cryptography = "*"
defusedxml = "*"
hypercorn = "*"
wsgidav = "*"
pypykatz = "*"
impacket = {editable = true,git = "https://github.com/SecureAuthCorp/impacket.git",ref = "python36"}
requests = "*"

[requires]
python_version = "3.7"
