aiofiles==0.4.0
blinker==1.4
click==7.0
docopt==0.6.2
h11==0.8.1
h2==3.0.1
hpack==3.0.0
hypercorn==0.3.1
hyperframe==5.1.0
itsdangerous==0.24
jinja2==2.10
markupsafe==1.0
multidict==4.4.2
netifaces==0.10.7
prompt-toolkit==2.0.5
pytoml==0.1.19
quart==0.6.7
six==1.11.0
sortedcontainers==2.0.5
termcolor==1.1.0
terminaltables==3.1.0
typing-extensions==3.6.5
wcwidth==0.1.7
wsproto==0.12.0
